.navigate-container {
    padding: 30px 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    .signup {
        min-width: 100px;
        background-color: #4cb9e7;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
    .signin {
        min-width: 100px;
        background-color: #ffecd6;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}
.form-heading {
    margin-top: 50px;
    text-align: center;
    h2 {
        letter-spacing: 1px;
        font-size: 50px;
        font-weight: 800;
    }
}
.form-container {
    margin: 70px 390px;
    position: relative;
    height: 350px;
    .password-input {
        position: relative;
        .eye-open {
            font-size: 22px;
            position: absolute;
            top: 19px;
            right: 25px;
            cursor: pointer;
        }
    }

    .btn-form {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        position: absolute;
        span {
            letter-spacing: 1px;
            border-radius: 10px;
            text-align: center;
            background-color: #4cb9e7;
            padding: 10px;
            font-size: 25px;
            font-weight: 800;
            width: 250px;
            &:hover {
                background-color: #9ad6ef;
            }
        }
        .spinner {
            position: absolute;
            left: 7%;
            top: 13px;
            color: #ffecd6;
        }
    }

    .step-sign-in {
        padding: 0 10px;
        margin: 0 0 20px 0;
        .ant-steps-item-title {
            font-size: 21px;
            font-weight: 500;
        }
        svg {
            color: #4cb9e7;
        }
    }
}

.note-for-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 55px 0 20px;
    .note-icon {
        color: green;
        font-size: 25px;
    }
    span {
        font-size: 16px;
    }
}

.signin-input {
    margin-top: 55px;
}
