.description-text {
    height: 120px !important;
    resize: none !important;
}
.book-content {
    padding-top: 40px !important;
}

.three-item {
    grid-template-columns: 1fr 1fr 1fr !important;
}
