.description-text {
    height: 120px !important;
    resize: none !important;
}
.book-content {
    padding-top: 40px !important;
}

// .modal-body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 20px;
// }
