.modal-content {
    height: 520px !important;
}
.modal-body {
    padding-bottom: 0;
}
.nt-table-wrapper {
    margin-top: 0;
}
.table-category {
    min-height: 250px !important;
    margin-top: 30px !important;
}
.modal-add-category {
    top: 140px;
    .delete-btn {
        margin-left: 10px;
    }
}
// .ant-table-cell {
//     text-align: center !important;
// }
