.btn-update {
    position: absolute;
    right: 95px;
    top: 165px;
}
.btn-close-user {
    position: absolute;
    right: 200px;
    top: 165px;
}
.btn-delete {
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    right: 45px;
    top: 167px;
}
.list-requests {
    margin-top: 40px;
    .title {
        font-size: 18px;
        color: #085ed7;
        margin-bottom: 10px;
    }
}
// .ant-table-cell {
//     text-align: center !important;
// }
.user-info-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .avatar-change-container {
        padding-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            cursor: pointer;
            height: 200px;
            width: 200px;
        }
        .btn-avatar {
            margin-top: 10px;
        }
    }
}
.ReactModal__Content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn-change-password {
    margin: 0;
}
