.modal-add-user {
    .img-preview {
        border: 1px dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        color: #ccc;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .label-upload {
        display: flex;
        gap: 5px;
        align-items: center;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #eeeeee;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #dcdcdc;
        }
    }
}
th {
    font-size: 22px;
    color: #004380 !important;
}
.ant-table-pagination {
    justify-content: center !important;
}
table {
    height: 200px !important;
}
.search-container {
    position: relative;
    margin-bottom: 30px !important;
    input {
        padding-left: 35px;
        width: 400px;
    }
    .search-icon {
        position: absolute;
        top: 11px;
        left: 12px;
        font-size: 16px;
    }
}

form {
    height: 38px;
}
.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .list-user-breadcrumb {
        cursor: pointer;
        &:hover {
            color: #1777ff;
        }
    }
}
.find-user-admin {
    display: flex;
    gap: 30px;
    select {
        width: 80px;
    }
}

.ant-select-lg {
    min-width: 126px !important;
    text-align: center !important;
}
