.filter-container {
    margin: 10px 50px;
    padding: 20px;
    border-radius: 15px;
    padding-left: 70px;
    background-color: white;
    gap: 90px;
    display: flex;
    align-items: center;
    .search-container {
        width: 28%;
        position: relative;
        input {
            font-size: 20px;
            padding-left: 40px;
            height: 45px;
            width: 135% !important;
            background-color: #f6f5f3;
            border: none;
            font-weight: 300;
        }
        .search-icon {
            position: absolute;
            top: 14px;
            left: 15px;
            font-size: 18px;
        }
    }
    .item-container {
        display: flex;
        align-items: center;
        gap: 15px;
        // .category-select {
        //     font-size: px;
        // }
    }

    .select-dropdown {
        min-width: 150px;
        button {
            background-color: white;
            border-radius: 15px;
            border: 2px solid #d7d6d4;
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            color: black;
        }
        .dropdown-menu {
            max-width: 100%;
            a {
                white-space: nowrap;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.arrow {
    cursor: pointer;
    font-size: 25px;
    color: #fac903;
    transition: transform 0.6s ease;
}
.rotated {
    transform: rotate(180deg);
}
