.book-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .book-item {
        border-radius: 15px;
        padding: 0 30px;
        width: 104%;
        height: 300px;
        background-color: white;
        display: flex;
        .image-container {
            display: flex;
            align-items: center;
            img {
                border-radius: 30px;
                width: 250px;
                height: 250px;
                overflow: hidden;
            }
        }
        .info-container {
            padding: 35px 10px;
            padding-left: 20px;
            display: flex;
            gap: 20px;
            .book-detail {
                width: 530px;
                display: flex;
                flex-direction: column;
                gap: 22px;
                h2 {
                    margin: 0;
                    font-weight: 500;
                    font-size: 38px;
                    max-width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span {
                    font-size: 20px;
                    b {
                        color: #004380;
                    }
                }
                .btn-container {
                    display: flex;
                    gap: 30px;
                    margin-top: 8px;
                    .btn {
                        min-width: 133px;
                    }
                    .btn-borrow {
                        color: white;
                        background-color: #004380;
                    }
                }
            }
            .status {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 150px;
                height: 40px;
                border-radius: 15px;
                padding: 10px;
                color: green;
                background-color: rgb(232, 244, 232);
                .icon {
                    font-size: 25px;
                }
                span {
                    font-size: 22px;
                }
            }
        }
    }
}

.status2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    min-width: 180px;
    border-radius: 15px;
    padding: 5px;
    color: red;
    background-color: rgb(250, 225, 225);
    .icon2 {
        font-size: 25px;
    }
    span {
        font-size: 22px;
    }
}
.list-borrow-container {
    position: relative;
    left: 70px;
    width: 495px !important;
    .py-5 {
        padding-top: 0 !important;
        .align-items-center {
            align-items: start !important;
            .col {
                position: sticky;
                top: 130px;
                h5 {
                    max-width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .col-lg-7 {
                    width: 100% !important;
                }
                .d-flex {
                    gap: 10px;
                    align-items: center;
                }
                .ms-2 {
                    margin-top: 19px;
                }
                .btn-borrow {
                    font-size: 25px;
                    padding: 5px;
                    border-radius: 10px;
                    color: white;
                    text-align: center;
                    margin-top: 10px;
                    display: block;
                    background-color: #004380;
                    cursor: pointer;
                    &:hover {
                        background-color: #0254a1;
                    }
                }
            }
        }
    }
}

.btn-more {
    margin: 0;
}

.ms-2 {
    top: 15px;
    width: 185px;
    font-size: 20px;
    position: absolute;
    left: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
