.book-cart-title {
    gap: 0 !important;
    width: 200px;
    cursor: pointer;
    &:hover {
        color: #79bfea;
    }
}
// .detail-borrow {
//     cursor: pointer;
//     position: absolute;
//     right: 10px !important;
//     top: 10px;
//     z-index: 3 !important;
//     width: 55px;
//     height: 55px;
//     .ant-scroll-number {
//         width: 25px;
//         height: 25px;
//         border-radius: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &:hover {
//         color: #79bfea;
//     }
// }
