ul {
    list-style: none;
}
.footer {
    padding: 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
    ul {
        padding: 0;
    }
    img {
        width: 180px;
        height: 180px;
    }
    &__title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    &__list {
        margin-top: 5px;
    }
}
