.btn-container {
    margin-top: 25px;
    position: relative;
    .forget-btn {
        position: absolute;
        left: 10px;
        top: 5px;
        cursor: pointer;
        &:hover {
            color: #019cda;
        }
    }
    .btn-reset {
        background-color: #ffc008;
        cursor: pointer;
        font-size: 20px;
    }
}
.reset-container {
    margin-top: 30px;
    text-align: center;
    padding: 10px 150px 0;
}
.form-container {
    margin: 50px 100px !important;
}
