.h2Tag {
    margin: 0;
}
.form_container {
    position: relative;
    height: 350px;
    margin: 10px 400px !important;
}
.form_heading {
    margin-top: 70px;
    text-align: center;
    h2 {
        letter-spacing: 1px;
        font-size: 50px;
        font-weight: 800;
    }
}
